.git
.gitignore
.env
.env.docker
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.venv
**/node_modules
**/dist
configs/runtime
frontend/dist
*.md
!README.md
.github
incoming-call-handler
outgoing-call-handler
industries
scripts
